@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Regular.otf');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Semibold.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-BoldIt.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-It.otf');
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Black.otf');
    font-weight: 900;
}

body {
    width: 1440px;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Source Sans Pro';
}

:root {
    --purple: #C271FF;
}

.bold-text {
    color: var(--purple);
    font-weight: bold;
}

header {
    width: inherit;

    position: absolute;
    top: 35.02px;

    color: #FFFFFF;

    z-index: 1;
}

#header-div {
    width: 1103.41px;
    height: 29.46px;

    margin: auto;

    display: flex;
    justify-content: space-between;
}

#header-menu {
    width: 234px;
    height: 15px;
    display: flex;
    justify-content: space-between;
}

header a {
    font-weight: bold;
    font-size: 12px;
    line-height: 15.08px;
    text-decoration: none;
    color: #FFFFFF;
}

.round-edge {
    object-fit: cover;
    border-radius: 50%;
}

#banner-section {
    background-color: #071629;
    color: #FFFFFF;
    text-align: center;
}

#banner-section * {
    margin: 0;
}
#banner-section > * {
    position: relative;
    z-index: 1;
}
#banner-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#banner-image {
    z-index: 0;
    filter: grayscale(100%);
}

#banner-background:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #07162900, #071629FF);
}

#banner-register-button {
    margin-top: 38px;

    box-shadow: 0px 0px 20px 0px #000000;
}

#banner-section h1 {
    font-size: 120px;
    line-height: 150.84px;

    padding-top: 220px;
}

#subtitle {
    width: 253px;
    margin: auto;

    display: flex;
    justify-content: space-between;

    font-size: 16px;
    font-weight: bold;
    line-height: 20.11px;
}

#banner-section h2 {
    font-weight: 300;
    font-size: 32px;
    line-height: 40.22px;
    color: #FFFFFF;
}

#pros-div {
    height: 364.37px;

    margin-top: 168px;
    padding-bottom: 98px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#pros-div h2 {
    font-size: 32px;
    font-weight: 300;
    line-height: 40.22px;
}

#pros-quotes-div {
    width: 1009px;
    height: 237px;

    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;

    display: flex;
    justify-content: space-between;

    font-style: italic;
    font-weight: normal;
}

#pros-quote-div {
    text-align: center;
    width: max-content;
}

.pros-quote-author {
    font-size: 18px;
    line-height: 27px;
    font-weight: 900;
}

.register-button {
    color: #FFFFFF;
    background-color: var(--purple);

    font-size: 14px;
    font-weight: 600;

    width: 162px;
    height: 44px;

    border: none;
    border-radius: 22px;

    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#quote-section {
    height: 392px;

    color: #FFFFFF;
    background-color: var(--purple);

    font-size: 22px;
    line-height: 33.6px;
}
#quote-div {
    width: 943px;
    height: 160px;

    position: relative;
    left: 260px;
    top: 108px;

    display: flex;
    justify-content: space-between;
}

#quote-div * {
    margin: 0;
}

#quote-section figure {
    width: 730px;
    height: 158px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: left;
}
#quote-section cite {
    font-weight: bold;
    font-style: normal;
}
#quote-section figcaption {
    font-style: italic;
}

h2 {
    font-weight: 300;
    font-size: 32px;
    line-height: 40.22px;
}

#videos-section {
    text-align: center;

    color: #071629;

    width: 1228px;
    height: 450px;

    margin: auto;
    margin-top: 87px;
    margin-bottom: 87px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#videos-section h2 {
    margin: 0;
}
#videos-block {
    padding: 58px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.video-block {
    width: 255px;
    height: 335px;
}
.video-block * {
    margin: 0px;
}
.video-block > * {
    margin: 0px 0px 0px 13px;
}

.video-block > img {
    margin-left: 0px;
    margin-bottom: 18px;
}
.video-block h3 {
    color: #071629;

    font-weight: bold;
    font-size: 16px;
    line-height: 20.11px;

    margin-bottom: 7.6px;
}
.video-block p {
    color: #071629;

    height: 48px;
    margin-bottom: 13px;

    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.author-block {
    display: flex;
    align-items: center;

    margin-bottom: 14px;
}
.author-block h4 {
    color: var(--purple);

    font-weight: 600;
    font-size: 14px;
    line-height: 27px;

    margin-left: 13px;
}

.rating-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-block span {
    color: var(--purple);
    font-weight: 600;
    size: 14px;
    line-height: 27px;
}

#membership-section {
    color: #FFFFFF;
    background-color: #071629;
    text-align: center;

    height: 502px;

    box-sizing: border-box;
    padding-top: 70px;
    padding-bottom: 52px;

    display: flex;
    flex-direction: column;
}
#membership-section * {
    box-sizing: content-box;
}

#membership-section h2 {
    margin: 0;
}

#memberships-list {
    display: flex;
    justify-content: space-between;
    padding: 58px 164px 85px 164px;
}

.membership {
    width: 257px;
    height: 153px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.membership * {
    margin: 0 auto;
}

.membership h3 {
    font-weight: 600;
    size: 18px;
    line-height: 26px;
}

.membership p {
    width: 215px;

    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
}

#FAQ-section {
    margin: auto;
    margin-top: 67px;
    margin-bottom: 84px;

    width: 920px;
    height: 707px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #071629;
}

#FAQ-section * {
    margin: 0;
}

#FAQ-section h2 {
    font-weight: 300;
    font-size: 60px;
    line-height: 75.42px;

    align-self: center;
}

.FAQ-row-block {
    display: flex;
    justify-content: space-between;
}

.FAQ-item-block {
    width: 350px;
    height: 242px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.FAQ-question {
    font-weight: bold;
    font-size: 16px;
    line-height: 20.11px;
}

.FAQ-answer {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

footer {
    display: flex;
    height: 249px;
    background-color: #071629;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 10% 0 10%;
}
  
#footer-row-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#footer-sites {
    width: 130px;
    display: flex;
    justify-content: space-between;
}
  
#footer-copyright {
    color: rgba(255, 255, 255, 0.502);

    text-align: center;

    font-size: 12px;
    line-height: 15.08px;

    margin-bottom: 39px;
}
