body {
    width: 1440px;
    margin: 0;
    padding: 0;

    background-image: url("../images/background.png");
    background-repeat: no-repeat;
}

header {
    width: 1103.41px;
    height: 29.46px;

    margin: auto;
    margin-top: 35.02px;

    color: #FFFFFF;
}

#header-div {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#header-menu {
    width: 234px;
    height: 15px;
    display: flex;
    justify-content: space-between;
}

header a {
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 12px;
    line-height: 15.08px;
    text-decoration: none;
    color: #FFFFFF;
}

.round-edge {
    object-fit: cover;
    border-radius: 50%;
}

#banner-section {
    color: #FFFFFF;
    text-align: center;

    padding-top: 220px;
}

#banner-section * {
    margin: 0;
}

#banner-register-button {
    margin-top: 38px;
}

h1 {
    font-family: "Source Sans Pro";
    font-size: 120px;
    line-height: 150.84px;
}

#subtitle {
    display: flex;
    justify-content: space-around;
}

#banner-section h2 {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 32px;
    line-height: 40.22px;
    color: #FFFFFF;
}

#pros-div {
    margin-top: 168px;
}

#pros-quotes-div {
    width: 1009px;
    height: 237px;

    margin-top: 87px;
    margin-bottom: 87px;

    display: flex;
    justify-content: space-between;
    margin: auto;
}

#pros-quotes-div div {
    text-align: center;
}

.register-button {
    color: #FFFFFF;
    background-color: #C271FF;

    box-shadow: #000000;
    box-shadow: 20px;

    width: 162px;
    height: 44px;

    border: none;
    border-radius: 22px;

    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#quote-section {
    height: 392px;

    color: #FFFFFF;
    background-color: #C271FF;

    display: flex;
    align-items: center;

    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 22px;
    line-height: 33.6px;
}
#quote-div {
    width: 943px;
    height: 160px;

    margin: auto;

    display: flex;
    justify-content: space-between;
}

#quote-div * {
    margin: 0;
}

#quote-section figure {
    width: 730px;
    height: 158px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: left;
}
#quote-section cite {
    font-weight: 700;
    font-style: normal;
}
#quote-section figcaption {
    font-style: italic;
}

#videos-section {
    text-align: center;

    color: #071629;

    width: 1228px;
    height: 450px;

    margin: auto;
    margin-top: 87px;
    margin-bottom: 87px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#videos-section h2 {
    margin: 0;

    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 32px;
    line-height: 40.22px;
}
#videos-block {
    display: flex;
    justify-content: space-around;
    text-align: left;
}
.video-block {
    width: 255px;
    height: 335px;
}
.video-block h3 {
    color: #071629;

    font-weight: 700;
    font-size: 16px;
    line-height: 20.11px;

    margin-left: 13px;
}
.video-block p {
    color: #071629;

    height: 48px;

    margin-left: 13px;
    margin-right: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.author-block {
    display: flex;
    align-items: center;
}
.author-block h4 {
    color: #C271FF;
}

#membership-section {
    color: #FFFFFF;
    background-color: #071629;
    text-align: center;

    height: 502px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#membership-section h2 {
    font-weight: 300;
    font-size: 32px;
    line-height: 40.22px;
}

.membership {
    width: 257px;
    height: 153px;
}
#memberships-list {
    display: flex;
    justify-content: space-evenly;
}

.membership p {
    width: 215px;
    margin: auto;

    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

#FAQ-section {
    margin: auto;
    margin-top: 67px;
    margin-bottom: 84px;

    width: 920px;
    height: 707px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #071629;

    font-family: "Source Sans Pro";
}

#FAQ-section * {
    margin: 0;
}

#FAQ-section h2 {
    font-weight: 300px;
    font-size: 60px;
    line-height: 75.42px;

    align-self: center;
}

.FAQ-row-block {
    display: flex;
    justify-content: space-between;
}

.FAQ-item-block {
    width: 350px;
    height: 242px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.FAQ-question {
    font-weight: 700;
    font-size: 16px;
    line-height: 20.11px;
}

.FAQ-answer {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

footer {
    display: flex;
    height: 249px;
    background-color: #071629;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 10% 0 10%;
}
  
#footer-row-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#footer-sites {
    width: 130px;
    display: flex;
    justify-content: space-between;
}
  
#footer-copyright {
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.502);
    margin-bottom: 39px;
}
